<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DNARoadMarkings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Raleway;
        font-size: 18px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.55;
        color: var(--dl-color-gray-black);
        background: var(--dl-color-gray-white);

        fill: var(--dl-color-gray-black);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
    <style>
      html {
      scroll-behavior: smooth;
      }
    </style>
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./team3.css" rel="stylesheet" />
      <div class="thq-section-padding">
        <div class="team3-max-width thq-section-max-width">
          <div class="team3-section-title">
            <span>
              <fragment class="team3-fragment12">
                <span class="team3-text30 thq-body-small">
                  Join Our Team Today!
                </span>
              </fragment>
            </span>
            <div class="team3-content1">
              <h2>
                <fragment class="team3-fragment24">
                  <h2 class="team3-text46 thq-heading-2">Our team</h2>
                </fragment>
              </h2>
              <p>
                <fragment class="team3-fragment15"></fragment>
              </p>
              <p class="team3-text33 thq-body-large">
                <span>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </span>
                <span></span>
              </p>

              <p></p>
            </div>
          </div>
          <div class="team3-content2">
            <div class="team3-content3">
              <div class="team3-row1">
                <div class="team3-card1">
                  <img
                    alt="Member Alt"
                    src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDN8fHVzZXJ8ZW58MHx8fHwxNzEwOTQyNjEyfDA&amp;ixlib=rb-4.0.3&amp;w=800"
                    class="thq-img-ratio-1-1 team3-member-image1"
                  />
                  <div class="team3-content4">
                    <div class="team3-title1">
                      <span>
                        <fragment class="team3-fragment20">
                          <span class="team3-text42 thq-body-small">
                            Full name
                          </span>
                        </fragment>
                      </span>
                      <span>
                        <fragment class="team3-fragment19">
                          <span class="team3-text41 thq-body-small">
                            Job title
                          </span>
                        </fragment>
                      </span>
                    </div>
                    <span>
                      <fragment class="team3-fragment11">
                        <span class="team3-text29 thq-body-small">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Suspendisse varius enim in eros elementum
                          tristique.
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="team3-social-icons1">
                    <svg
                      viewBox="0 0 877.7142857142857 1024"
                      class="thq-icon-small"
                    >
                      <path
                        d="M135.429 808h132v-396.571h-132v396.571zM276 289.143c-0.571-38.857-28.571-68.571-73.714-68.571s-74.857 29.714-74.857 68.571c0 37.714 28.571 68.571 73.143 68.571h0.571c46.286 0 74.857-30.857 74.857-68.571zM610.286 808h132v-227.429c0-121.714-65.143-178.286-152-178.286-70.857 0-102.286 39.429-119.429 66.857h1.143v-57.714h-132s1.714 37.143 0 396.571v0h132v-221.714c0-11.429 0.571-23.429 4-32 9.714-23.429 31.429-48 68-48 47.429 0 66.286 36 66.286 89.714v212zM877.714 237.714v548.571c0 90.857-73.714 164.571-164.571 164.571h-548.571c-90.857 0-164.571-73.714-164.571-164.571v-548.571c0-90.857 73.714-164.571 164.571-164.571h548.571c90.857 0 164.571 73.714 164.571 164.571z"
                      ></path></svg
                    ><svg
                      viewBox="0 0 950.8571428571428 1024"
                      class="thq-icon-small"
                    >
                      <path
                        d="M925.714 233.143c-25.143 36.571-56.571 69.143-92.571 95.429 0.571 8 0.571 16 0.571 24 0 244-185.714 525.143-525.143 525.143-104.571 0-201.714-30.286-283.429-82.857 14.857 1.714 29.143 2.286 44.571 2.286 86.286 0 165.714-29.143 229.143-78.857-81.143-1.714-149.143-54.857-172.571-128 11.429 1.714 22.857 2.857 34.857 2.857 16.571 0 33.143-2.286 48.571-6.286-84.571-17.143-148-91.429-148-181.143v-2.286c24.571 13.714 53.143 22.286 83.429 23.429-49.714-33.143-82.286-89.714-82.286-153.714 0-34.286 9.143-65.714 25.143-93.143 90.857 112 227.429 185.143 380.571 193.143-2.857-13.714-4.571-28-4.571-42.286 0-101.714 82.286-184.571 184.571-184.571 53.143 0 101.143 22.286 134.857 58.286 41.714-8 81.714-23.429 117.143-44.571-13.714 42.857-42.857 78.857-81.143 101.714 37.143-4 73.143-14.286 106.286-28.571z"
                      ></path>
                    </svg>
                  </div>
                </div>
                <div class="team3-card2">
                  <img
                    alt="Member Alt"
                    src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDE1fHx1c2VyfGVufDB8fHx8MTcxMDk0MjYxMnww&amp;ixlib=rb-4.0.3&amp;w=800"
                    class="thq-img-ratio-1-1 team3-member-image2"
                  />
                  <div class="team3-content5">
                    <div class="team3-title2">
                      <span>
                        <fragment class="team3-fragment26">
                          <span class="team3-text48 thq-body-small">
                            Full name
                          </span>
                        </fragment>
                      </span>
                      <span>
                        <fragment class="team3-fragment21">
                          <span class="team3-text43 thq-body-small">
                            Job title
                          </span>
                        </fragment>
                      </span>
                    </div>
                    <span>
                      <fragment class="team3-fragment13">
                        <span class="team3-text31 thq-body-small">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Suspendisse varius enim in eros elementum
                          tristique.
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="team3-social-icons2">
                    <svg
                      viewBox="0 0 877.7142857142857 1024"
                      class="thq-icon-small"
                    >
                      <path
                        d="M135.429 808h132v-396.571h-132v396.571zM276 289.143c-0.571-38.857-28.571-68.571-73.714-68.571s-74.857 29.714-74.857 68.571c0 37.714 28.571 68.571 73.143 68.571h0.571c46.286 0 74.857-30.857 74.857-68.571zM610.286 808h132v-227.429c0-121.714-65.143-178.286-152-178.286-70.857 0-102.286 39.429-119.429 66.857h1.143v-57.714h-132s1.714 37.143 0 396.571v0h132v-221.714c0-11.429 0.571-23.429 4-32 9.714-23.429 31.429-48 68-48 47.429 0 66.286 36 66.286 89.714v212zM877.714 237.714v548.571c0 90.857-73.714 164.571-164.571 164.571h-548.571c-90.857 0-164.571-73.714-164.571-164.571v-548.571c0-90.857 73.714-164.571 164.571-164.571h548.571c90.857 0 164.571 73.714 164.571 164.571z"
                      ></path></svg
                    ><svg
                      viewBox="0 0 950.8571428571428 1024"
                      class="thq-icon-small"
                    >
                      <path
                        d="M925.714 233.143c-25.143 36.571-56.571 69.143-92.571 95.429 0.571 8 0.571 16 0.571 24 0 244-185.714 525.143-525.143 525.143-104.571 0-201.714-30.286-283.429-82.857 14.857 1.714 29.143 2.286 44.571 2.286 86.286 0 165.714-29.143 229.143-78.857-81.143-1.714-149.143-54.857-172.571-128 11.429 1.714 22.857 2.857 34.857 2.857 16.571 0 33.143-2.286 48.571-6.286-84.571-17.143-148-91.429-148-181.143v-2.286c24.571 13.714 53.143 22.286 83.429 23.429-49.714-33.143-82.286-89.714-82.286-153.714 0-34.286 9.143-65.714 25.143-93.143 90.857 112 227.429 185.143 380.571 193.143-2.857-13.714-4.571-28-4.571-42.286 0-101.714 82.286-184.571 184.571-184.571 53.143 0 101.143 22.286 134.857 58.286 41.714-8 81.714-23.429 117.143-44.571-13.714 42.857-42.857 78.857-81.143 101.714 37.143-4 73.143-14.286 106.286-28.571z"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="team3-row2">
                <div class="team3-card3">
                  <img
                    alt="Member Alt"
                    src="https://images.unsplash.com/photo-1499887142886-791eca5918cd?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDE3fHx1c2VyfGVufDB8fHx8MTcxMDk0MjYxMnww&amp;ixlib=rb-4.0.3&amp;w=600"
                    class="thq-img-ratio-1-1 team3-member-image3"
                  />
                  <div class="team3-content6">
                    <div class="team3-title3">
                      <span>
                        <fragment class="team3-fragment10">
                          <span class="team3-text28 thq-body-small">
                            Full name
                          </span>
                        </fragment>
                      </span>
                      <span>
                        <fragment class="team3-fragment18">
                          <span class="team3-text40 thq-body-small">
                            Job title
                          </span>
                        </fragment>
                      </span>
                    </div>
                    <span>
                      <fragment class="team3-fragment25">
                        <span class="team3-text47 thq-body-small">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Suspendisse varius enim in eros elementum
                          tristique.
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="team3-social-icons3">
                    <svg
                      viewBox="0 0 877.7142857142857 1024"
                      class="thq-icon-small"
                    >
                      <path
                        d="M135.429 808h132v-396.571h-132v396.571zM276 289.143c-0.571-38.857-28.571-68.571-73.714-68.571s-74.857 29.714-74.857 68.571c0 37.714 28.571 68.571 73.143 68.571h0.571c46.286 0 74.857-30.857 74.857-68.571zM610.286 808h132v-227.429c0-121.714-65.143-178.286-152-178.286-70.857 0-102.286 39.429-119.429 66.857h1.143v-57.714h-132s1.714 37.143 0 396.571v0h132v-221.714c0-11.429 0.571-23.429 4-32 9.714-23.429 31.429-48 68-48 47.429 0 66.286 36 66.286 89.714v212zM877.714 237.714v548.571c0 90.857-73.714 164.571-164.571 164.571h-548.571c-90.857 0-164.571-73.714-164.571-164.571v-548.571c0-90.857 73.714-164.571 164.571-164.571h548.571c90.857 0 164.571 73.714 164.571 164.571z"
                      ></path></svg
                    ><svg
                      viewBox="0 0 950.8571428571428 1024"
                      class="thq-icon-small"
                    >
                      <path
                        d="M925.714 233.143c-25.143 36.571-56.571 69.143-92.571 95.429 0.571 8 0.571 16 0.571 24 0 244-185.714 525.143-525.143 525.143-104.571 0-201.714-30.286-283.429-82.857 14.857 1.714 29.143 2.286 44.571 2.286 86.286 0 165.714-29.143 229.143-78.857-81.143-1.714-149.143-54.857-172.571-128 11.429 1.714 22.857 2.857 34.857 2.857 16.571 0 33.143-2.286 48.571-6.286-84.571-17.143-148-91.429-148-181.143v-2.286c24.571 13.714 53.143 22.286 83.429 23.429-49.714-33.143-82.286-89.714-82.286-153.714 0-34.286 9.143-65.714 25.143-93.143 90.857 112 227.429 185.143 380.571 193.143-2.857-13.714-4.571-28-4.571-42.286 0-101.714 82.286-184.571 184.571-184.571 53.143 0 101.143 22.286 134.857 58.286 41.714-8 81.714-23.429 117.143-44.571-13.714 42.857-42.857 78.857-81.143 101.714 37.143-4 73.143-14.286 106.286-28.571z"
                      ></path>
                    </svg>
                  </div>
                </div>
                <div class="team3-card4">
                  <img
                    alt="PlaceholderImage1312"
                    src="https://images.unsplash.com/photo-1534180477871-5d6cc81f3920?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDE5fHx1c2VyfGVufDB8fHx8MTcxMDk0MjYxMnww&amp;ixlib=rb-4.0.3&amp;w=600"
                    class="thq-img-ratio-1-1 team3-member-image4"
                  />
                  <div class="team3-content7">
                    <div class="team3-title4">
                      <span>
                        <fragment class="team3-fragment22">
                          <span class="team3-text44 thq-body-small">
                            Full name
                          </span>
                        </fragment>
                      </span>
                      <span>
                        <fragment class="team3-fragment14">
                          <span class="team3-text32 thq-body-small">
                            Job title
                          </span>
                        </fragment>
                      </span>
                    </div>
                    <span>
                      <fragment class="team3-fragment27">
                        <span class="team3-text49 thq-body-small">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Suspendisse varius enim in eros elementum
                          tristique.
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="team3-social-icons4">
                    <svg
                      viewBox="0 0 877.7142857142857 1024"
                      class="thq-icon-small"
                    >
                      <path
                        d="M135.429 808h132v-396.571h-132v396.571zM276 289.143c-0.571-38.857-28.571-68.571-73.714-68.571s-74.857 29.714-74.857 68.571c0 37.714 28.571 68.571 73.143 68.571h0.571c46.286 0 74.857-30.857 74.857-68.571zM610.286 808h132v-227.429c0-121.714-65.143-178.286-152-178.286-70.857 0-102.286 39.429-119.429 66.857h1.143v-57.714h-132s1.714 37.143 0 396.571v0h132v-221.714c0-11.429 0.571-23.429 4-32 9.714-23.429 31.429-48 68-48 47.429 0 66.286 36 66.286 89.714v212zM877.714 237.714v548.571c0 90.857-73.714 164.571-164.571 164.571h-548.571c-90.857 0-164.571-73.714-164.571-164.571v-548.571c0-90.857 73.714-164.571 164.571-164.571h548.571c90.857 0 164.571 73.714 164.571 164.571z"
                      ></path></svg
                    ><svg
                      viewBox="0 0 950.8571428571428 1024"
                      class="thq-icon-small"
                    >
                      <path
                        d="M925.714 233.143c-25.143 36.571-56.571 69.143-92.571 95.429 0.571 8 0.571 16 0.571 24 0 244-185.714 525.143-525.143 525.143-104.571 0-201.714-30.286-283.429-82.857 14.857 1.714 29.143 2.286 44.571 2.286 86.286 0 165.714-29.143 229.143-78.857-81.143-1.714-149.143-54.857-172.571-128 11.429 1.714 22.857 2.857 34.857 2.857 16.571 0 33.143-2.286 48.571-6.286-84.571-17.143-148-91.429-148-181.143v-2.286c24.571 13.714 53.143 22.286 83.429 23.429-49.714-33.143-82.286-89.714-82.286-153.714 0-34.286 9.143-65.714 25.143-93.143 90.857 112 227.429 185.143 380.571 193.143-2.857-13.714-4.571-28-4.571-42.286 0-101.714 82.286-184.571 184.571-184.571 53.143 0 101.143 22.286 134.857 58.286 41.714-8 81.714-23.429 117.143-44.571-13.714 42.857-42.857 78.857-81.143 101.714 37.143-4 73.143-14.286 106.286-28.571z"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="team3-content8">
              <div class="team3-content9">
                <h2>
                  <fragment class="team3-fragment16">
                    <h2 class="team3-text36 thq-heading-2">We’re hiring!</h2>
                  </fragment>
                </h2>
                <span>
                  <fragment class="team3-fragment17">
                    <span class="team3-text37 thq-body-small">
                      <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      </span>
                      <span></span>
                    </span>
                  </fragment>
                </span>
              </div>
              <button class="team3-button thq-button-filled">
                <span>
                  <fragment class="team3-fragment23">
                    <span class="team3-text45 thq-body-small">
                      Open positions
                    </span>
                  </fragment>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/react-components/dist/animate-on-reveal.umd.js"
    ></script>
  </body>
</html>
